html{
    padding: 0;
    margin: 0;
}
#global h1{
    text-align: center;
    padding-top: 5vh;
} 
#form{
    margin-bottom: 10vh;
    background-color: #E2E2E2;
    color: black;
    width: 50vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.2);
}
#logo{
    width: 25vw;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #fff;
    background-size: cover;
}
form label, form p, form select{
    margin: auto;
    display: block;
    text-align: center;
}
form select{
    border-radius: 3px;
}
form input{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: block;
    border-radius: 3px;
}
#nom_formation{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
#nom_div, #formation_div{
    display: flex;
    margin: 1vw;
}
#nom_div{
    margin-top: 10vh;
    margin-bottom: 5vh;
}
#date_block{
    margin: auto;
    width: 45vw;
}
#date1_div, #date2_div{
    display: flex;
    justify-content: center;
    margin: 1vh 2vw;
    margin-bottom: 5vh;
}

#motif, #date_now, #signature, #submit, #email_div{
    display: flex;
    justify-content: center;
    clear: both;
    width: 30vw;
    margin: auto;
    padding: 3vh 0;
}
#submit input{
    background-color:#FEC25B;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
}
#submit input:hover{
    background-color: #F2AA38;
    transform: scale(1.05);
    transition: 200ms;
    
}
form label{
    margin-right: 0.5vw;
}
form{
    margin-bottom: 10vh;
    width: 90%;
    margin: auto;
}
span{
    color: red;
}
input,select{
    padding: 0.5vh 0;
    padding-left: 5px;
    border: 1px solid #bdc3c7;
}
input:focus, select:focus{
    border: 1px solid #FEC25B;
    outline: none;
}
#input_motif{
    margin-right: 0;
    width: 30vw;
    height: 20px;
    padding: 5px 0 5px 10px;
}
#signature{
    width: 100%;
}
#input_name{
    margin-right: 0;
    width: 30vw;
    height: 20px;
    padding: 5px 0 5px 10px;
}
#input_formation{
    margin-right: 0;
    width: 30vw;
    height: 30px;
}
#email_div input{
    margin-right: 0;
    width: 30vw;
    height: 20px;
    padding: 5px 0 5px 10px;
}
#nom_div, #formation_div, #email_div, #motif, #date1_div, #date2_div{
    margin-right: 0;
    float: left;
    margin-left: 3vw;
    width: 40vw;
    margin-bottom: 5vh;
}
#label_motif{
    margin-left: 0;
}
form{
    display: flex;
    flex-direction: column;
}
#label_name, #label_email, #label_formation{
    margin-left: 0px;
}
a{
    color: black;
}
#label_date_du, #label_date_au{
    margin-left: 0;
}
#time1, #time2{
    margin-right: 0;
    margin-left: 1vw;
}
#date1, #date2{
    margin-left: 1vw;
}
